$color-text: #1D1929;
$color-header: #1C1C1E;
$color-background: #F5F4FF;
$color-button: #003CFF;
$color-description: #0B132A;
$color-text: #4F5665;
$color-button-text: #FFF;
$color-bank-description: #1C1C1E;
$color-currency: #808080;
$color-support: #EB801D;
$color-button-subscribe: #686DF1;
$color-input: #9092B0;
$color-bank-small: #000;
$footer-text: #2D3748;
$content-width: 1300px;
$tablet-width: 920px;
$mobile-big-width: 500px;

