.block-cards__loan {
  margin-top: 49px;
}

.block-card-container__loan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-first {
  border-radius: 28px;
  background: #EAECEE;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 32px;
}