.block-cards__loan {
  margin-top: 49px;
}

.block-card-container__loan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @include media-mobile {
    flex-direction: column;
  }
}

.block-card-container__loan >* {
  margin-right: 40px;
  height: 236px;
  width: 406px;

  @include media-mobile {
    width: 100%;
    max-width: 300px;
  }
}

.text-loaning {
  color: #000;
  font-family: Ubuntu, sans-serif;
  @include font($size: 30px, $height: 147%, $weight: 700);
  letter-spacing: 0.6px;
  margin-top: 24px;
  margin-bottom: 18px;
}

.text-description {
  color: #000;
  font-family: Ubuntu, sans-serif;
  @include font($size: 16px, $height: 100%, $weight: 500);
  letter-spacing: 0.32px;
}

.block-first {
  border-radius: 28px;
  background: #EAECEE;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 32px;
}

.block-second {
  border-radius: 28px;
  background: rgba(127, 146, 172, 0.70);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 32px;
}

.block-third {
  border-radius: 28px;
  background: #EAECEE;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 32px;
  margin-right: 0 !important;
}


.block-first__long{
  border-radius: 28px;
  background: rgba(127, 146, 172, 0.70);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 32px;
  margin-right: 40px;
}

.block-second__long {
  border-radius: 28px;
  background: #EAECEE;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 32px;
}

.block-third .text-description {
  width: 335px;
}

.two-cards {
  display: flex;
  justify-content: space-between;

  @include media-mobile {
    flex-direction: column;
  }
}

.two-cards >* {
  flex-basis: 50%;

  @include media-mobile {
    flex-basis: 100%;
  }
}