.loaning-blocks-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.card-loan-block div {
  color: $color-header;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  @include font($size: 16px, $height: 112%, $weight: 500);
  letter-spacing: 0.32px;
  margin-bottom: 14px;
}

.card-loan-block div:last-child {
  margin-bottom: 0;
}

.card-loan-block {
    margin-right: 40px;
    width: 295px;
    height: 602px;
    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
    padding: 32px;
}

.card-loan-block:last-child {
  margin-right: 0px;
}

.gift-for-card {
  margin-bottom: 32px;
}

.button-block-selcet {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-select {
  width: 148px;
  height: 48px;
  padding: 8px;
}
