.news__wrapper {
  padding-top: 48px;
}

.news-data h2 {
  margin-bottom: 8px;
  text-align: center;
}

.new__paragraph {
  margin: 0;
  margin-bottom: 46px;
  text-align: center;
  @include font($size: 16px, $height: 50px, $weight: 500);
  color: $color-bank-small;
}

.news__block {
  //overflow-x: scroll;
  //overflow: hidden;  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-x: auto;
  transition: transform 0.3s;
  @include media-mobile {
    margin-left: 20px;
    margin-right: 20px;
  }

  @include media-tablet {
    margin-left: 20px;
    //margin-right: 20px;
  }
}

.news__block::-webkit-scrollbar {
  display: none;
}

.news-item {
  border-radius: 28px;
  border: 1px solid rgba(187, 187, 187, 0.08);
  background: $color-button-text;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  padding: 32px;
  margin-right: 80px;
  display: inline-block;

  @include media-mobile {
    text-align: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  @include media-tablet {
    text-align: center;
    //margin-right: 0;
    margin-bottom: 20px;
  }
}

.buttons-slider {
  margin-top: 68px;
  display: flex;
  justify-content: flex-end;
}

.button-left,
.button-right {
  cursor: pointer;
}
.button-right.show {
  display: block;
}

.button-right.hide {
  display: none;
}

.button-left.show {
  display: block;
}

.button-left.hide {
  display: none;
}

.button-left:hover,
.button-right:hover,
.button-left:visited,
.button-right:visited {
  transform: scale(.98);
}

.button-left {
  margin-right: 20px;
}
.news-item:last-child {
  margin-right: 0;

  @include media-tablet {
    margin-right: 80px;
  }

  @include media-mobile {
    margin-right: 0px;
  }
}

a:link{
  text-decoration: none!important;
}

.news-item img {
  width: 100%;
  height: auto;
  max-width: 256px;
  max-height: 120px;
  text-align: center;
}

.news-text {
  margin: 0;
  margin-top: 32px;
  @include font($size: 20px, $height: 25px, $weight: 500);
  color: $color-bank-small;
  text-align: center;
  text-decoration: none !important;
  width: 256px;
 }

.description-text {
  margin: 0;
  margin-top: 32px;
  color: $color-bank-small;
  @include font($size: 16px, $height: 23px, $weight: 500);
  text-align: center;
  text-decoration: none;
  width: 256px;
}