.table-schedule-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.table-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4A5568;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 0px; /* 0% */
  letter-spacing: 0.24px;
}

.list-container-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E2E8F0;
  border-top: 1px solid #E2E8F0;
  background: rgba(217, 217, 217, 0.00);
}


.for-all-items li {
  color: #1A202C;
  font-family: Ubuntu, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%; /* 17.688px */
  letter-spacing: 0.24px;
}

.buttons-agree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 43px;
}

.button-send-payment {
  display: flex;
  width: 96px !important;
  height: 40px !important;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px !important;
  background: var(--blue-3, #003CFF);
  color: var(--White, #FFF);
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
  font-family: Ubuntu, sans-serif;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 17.92px */
  letter-spacing: 0.32px;
  &:hover {
    transform: scale(0.97);
  }
}

.agree-for-checkbox{
  color: #1A202C;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 112%;
  margin-left: 10px;
}

.deny {
  display: flex;
  width: 96px;
  height: 40px;
  padding: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(217, 55, 55, 0.80);
  border: none;
  color: var(--White, #FFF);
  text-align: center;
  font-feature-settings: 'salt' on, 'liga' off;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 112%; /* 17.92px */
  letter-spacing: 0.32px;
  cursor: pointer;
  &:hover {
    transform: scale(0.97);
  }
}
.button-send-payment:disabled,
.button-send-payment[disabled],
.button-send-payment .disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  &:hover {
    transform: none !important;
  }
}

.modal-main {
  color: #1A202C;
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%; /* 23.584px */
  letter-spacing: 0.32px;
}

.customize-text{
  text-align: center;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 147.4%; /* 23.584px */
  letter-spacing: 0.32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.decision-block .border-none {
  border: none;
}