.services__wrapper {
  padding-top: 48px;
}

.services-data h2 {
  margin-bottom: 8px;
  text-align: center;
}

.main__info-services{
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-data p {
  margin: 0;
  margin-bottom: 48px;
  @include font($size: 16px, $height: 50px, $weight: 500);
  color: $color-bank-small;
  text-align: center;
}

.services__block__map img {
  width: 100%;
  max-width: 1060px;
  height: auto;
  max-height: 538px;
}