.form-container {
  margin-top: 44px;
  border-radius: 28px;
  background: #FFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20), 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 32px;
}

.prescoring-block {
  display: flex;
  //justify-content: space-between;
  //margin-bottom: 32px;
}

.customize-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.second-side {
  margin-left: 40px;
}
.customize-text span,
.second-side span {
  color: #000;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}

.first-side {
  padding-right: 40px;
  border-right: 1px dashed rgba(128, 128, 128, 0.40);
}

.select-amount {
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 20px;
}

.block-amount {
  border-radius: 10px;
  border: 1px solid #5B35D5;
  background: rgba(255, 255, 255, 0.00);
  padding: 24px;
}

.one-hundred-money {
  color: #000;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
  margin-bottom: 22px;
}

input[type=range] {
  width: 520px;
  background: #5B35D5;
}

.amount-span,
.block-money span {
  color: #786D6D;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 16px */
}

.block-money {
  display: flex;
  justify-content: space-between;
}

.contact-info {
  color: #000;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 26px;
  margin-top: 32px;
}