.support__wrapper {
  padding-top: 176px;

  @include media-mobile {
    padding-top: 40px;
  }

  @include media-tablet {
    padding-top: 80px;
  }
}

.support-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.support-data h4 {
  margin-bottom: 27px;
  font-family: Ubuntu, sans-serif;
}

.support__text {
  margin: 0;
  color: $color-support;
  @include font($size: 24px, $height: 147%, $weight: 700);
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 0.48px;
}

.support__text-description {
  font-weight: 500;
  margin-bottom: 62px;
  font-family: Ubuntu, sans-serif;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin-right: 35px;
}

//form img {
//  padding-left: 30px;
//}
.icon {
  background: url("../src/assets/icons/email.svg") no-repeat left;
  background-position: 32px;
}

input[type="text"] {
  //background: url("./src/assets/icons/email.svg") no-repeat scroll 7px 7px;
  //padding-left:30px;
  //flex-grow: 2;
  border: none;
  width: 525px;
  height: 90px;
  //flex-shrink: 0;
  //outline: none;
  border-radius: 20px;
  background-color: $color-button-text;
  box-shadow: 0px 10px 20px 0px rgba(54, 58, 120, 0.10);
  padding-top: 35px;
  padding-bottom: 35px;

  @include media-tablet {
    width: 450px;
  }

  @include media-mobile {
    width: 300px;
  }
}

::placeholder {
  color: $color-input;
  padding-left: 69px;
  @include font($size: 20px, $height: 147%, $weight: 400);
  text-align: left;
  font-family: Nunito Sans, sans-serif;
  letter-spacing: 0.4px;
  margin-top: 5px;

  @include media-mobile {
    @include font($size: 16px, $height: 121%, $weight: 400);
    text-align: left;
  }

  @include media-tablet {
    @include font($size: 16px, $height: 121%, $weight: 400);
  }
}

input:focus {
  outline: none;
}
//form:focus-within {
//  outline: 1px solid $color-button-subscribe;
//}

button[type="submit"] {
  //position: absolute;
  margin-left: -200px;
  z-index: 9;
  outline: none;
  border: none;
  color: #fff;
  cursor: pointer;
  width: 161px;
  height: 44px;
  border-radius: 20px;
  background: $color-button-subscribe;
  @include font($size: 16px, $height: 126%, $weight: 700);
  padding: 13px;
  display: flex;
  //justify-content: center;
  align-items: center;
  //overflow: hidden;
  //position: relative;
}

svg {
  display: inline-block;
  margin-right: 10px;
}